<template>
  <div class="container">
    <div class="row">
      <div class="col" v-if="agent">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><router-link to="/appointments">Appointments</router-link></li>
            <li class="breadcrumb-item active" aria-current="page">{{ agent.name }}'s Appointments</li>
          </ol>
        </nav>
      </div>
      <div class="col" v-if="loading">Loading ...</div>
      <div v-else>
        <div class="col" v-if="error">{{ error }}</div>
        <div class="col" v-if="appointments.length > 0">
          <TableAppointments :appointments="appointments" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import airTable from '@/services/airtable.js'
import TableAppointments from '@/components/Appointments/Table.vue'
export default {
  components: { TableAppointments },
  data () {
    return {
      loading: false,
      error: null,
      appointments: null,
      agent: {
        id: null,
        name: null
      }
    }
  },
  created () {
    this.fetchData(this.$route.params.id)
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData (getId) {
      this.loading = true
      airTable
        .find('Agents', getId)
        .then(response => {
          this.appointments = []
          this.agent.id = response.data.fields.agent_id
          this.agent.name = response.data.fields.agent_name + ' ' + response.data.fields.agent_surname
          response.data.fields.Appointments.forEach(appointment => {
            airTable.find('Appointments', appointment).then(async (res) => {
              console.log(res)
              const data = res.data.fields
              let resObj = {
                linkTo: res.data.id,
                id: data.appointment_id,
                status: (Date.now() < Date.parse(data.appointment_date)) ? 'Coming' : 'Past',
                date: data.appointment_date,
                postcode: data.appointment_postcode,
                agent: data.agent_id,
                contact: data.contact_id
              }
              await airTable.getFullName('Agents', data.agent_id).then(r => { resObj.agent = r })
              await airTable.getFullName('Contacts', data.contact_id).then(r => { resObj.contact = r })

              this.appointments.push(resObj)
            })
          })
          this.loading = false
        })
        .catch(e => {
          this.loading = false 
          this.error = e
        })
    }
  }
}
</script>