<template>
  <div class="container">
    <div class="row">
      <div class="col" v-if="loading">Loading ...</div>
      <div v-else>
        <div class="col" v-if="error">{{ error }}</div>
        <div class="col" v-if="appointments.length > 0">
          <TableAppointments :appointments="appointments" :count="count" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import airTable from '@/services/airtable.js'
import TableAppointments from '@/components/Appointments/Table.vue'
export default {
  components: { TableAppointments },
  data () {
    return {
      loading: false,
      error: null,
      appointments: [],
      count: null
    }
  },
  created () {
    this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      this.loading = true
      airTable
        .select('Appointments', { maxRecords:'30', view: 'Grid view' })
        .then(response => {
          this.count = response.data.records.length
          response.data.records.forEach(async (record) => {
            const data = record.fields
            let resObj = {
              linkTo: record.id,
              id: data.appointment_id,
              status: (Date.now() < Date.parse(data.appointment_date)) ? 'Coming' : 'Past',
              date: data.appointment_date,
              postcode: data.appointment_postcode,
              agent: data.agent_id,
              contact: data.contact_id
            }
            if (data.agent_id) await airTable.getFullName('Agents', data.agent_id).then(r => { resObj.agent = r }) 
            if (data.contact_id) await airTable.getFullName('Contacts', data.contact_id).then(r => { resObj.contact = r })
            this.appointments.push(resObj)
          })
          this.loading = false
        })
        .catch(e => {
          this.loading = false 
          this.error = e
        })
    }
  }
}
</script>