<template>
  <div class="container">
    <div class="row">
      <div class="col" v-if="loading">Loading ...</div>
      <div v-else>
        <div class="col" v-if="error">{{ error }}</div>
        <div class="col" v-if="appointment">
          <div class="row">
            <div class="col-lg-6">
              <FormAppointment 
                :form-title="formTitle" 
                :form-response="formSubmitStatus" 
                :appointment="appointment" 
                :mapPostcode="mapPostcode" 
                :hourAndMin="hourAndMin" 
                @on-submit="updateAppointment" 
                @postcodeChanged="postcodeChanged"
              />
            </div>
            <div class="col-lg-6">
              <Map 
                :page="page" 
                :appointmentPostcode="appointmentPostcode" 
                @postcodeChangedOnClick="postcodeChangedOnClick" 
                @hourAndMin="setHourAndMin"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import airTable from '@/services/airtable.js'
import FormAppointment from '@/components/Appointments/Form.vue'
import Map from '@/components/Map.vue'
export default {
  components: {
    FormAppointment,
    Map
  },
  data () {
    return {
      loading: false,
      error: null,
      appointment: null,
      appointmentPostcode: null,
      formTitle: 'Update Appointment',
      formSubmitStatus: null,
      page: 'update',
      mapPostcode: null,
      hourAndMin: null
    }
  },
  created () {
    this.fetchData(this.$route.params.id)
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData (getId) {
      this.loading = true
      airTable
        .find('Appointments', getId)
        .then(async (response) => {
          const data = response.data.fields
          let resObj = {
            id: response.data.id,
            status: (Date.now() < Date.parse(data.appointment_date)) ? 'Coming' : 'Past',
            date: data.appointment_date.substring(0,data.appointment_date.length-1),
            postcode: data.appointment_postcode,
            agent: data.agent_id[0],
            contact: data.contact_id[0]
          }
          // if (data.agent_id) await airTable.getFullName('Agents', data.agent_id).then(r => { resObj.agent = r }) 
          // if (data.contact_id) await airTable.getFullName('Contacts', data.contact_id).then(r => { resObj.contact = r })
            
          this.loading = false
          this.appointment = resObj
          this.appointmentPostcode = data.appointment_postcode
        })
        .catch(e => {
          this.loading = false 
          this.error = e
        })
    },
    updateAppointment(FormAppointment) {
      let postObj = this.createPostObject(FormAppointment)
      airTable
        .update('Appointments', postObj)
        .then(response => {
          console.log(response)
          this.formSubmitStatus = { status: 200, msg: 'Appointment updated succesfully' }
        })
        .catch(e => { console.error(e) })
    },
    createPostObject(form) {
      let postObj = {
        records: [{
          id: form.id,
          fields: {
            appointment_date: form.date,
            appointment_postcode: form.postcode,
            contact_id: [],
            agent_id: []
          }
        }]
      }
      postObj.records[0].fields.contact_id.push(form.contact)
      postObj.records[0].fields.agent_id.push(form.agent)
      // console.log(postObj)
      return postObj
    },
    postcodeChanged(postcode) {
      this.appointmentPostcode = postcode
    },
    postcodeChangedOnClick(postcode) {
      this.mapPostcode = postcode
    },
    setHourAndMin (time) {
      this.hourAndMin = time
    }
  }
}
</script>
<style>
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h5, h6 {
    margin-bottom: 0;
  }
</style>